<p id="notice"><%= notice %></p>

<p>
  <strong>Productomatnr:</strong>
  <%= @fichacortum.productomatnr %>
</p>

<p>
  <strong>Ferid:</strong>
  <%= @fichacortum.ferid %>
</p>

<p>
  <strong>Fob:</strong>
  <%= @fichacortum.fob %>
</p>

<p>
  <strong>Preciosug:</strong>
  <%= @fichacortum.preciosug %>
</p>

<p>
  <strong>Productominmb:</strong>
  <%= @fichacortum.productominmb %>
</p>

<p>
  <strong>Prvregcod:</strong>
  <%= @fichacortum.prvregcod %>
</p>

<%= link_to 'Edit', edit_fichacortum_path(@fichacortum) %> |
<%= link_to 'Back', fichacorta_path %>
